*.pyc
/progress.txt
/cc65_rx_output
/cc65_tx_output
/reports
/cc65_tx_output
/c64output
/c64output
/tmp
/vic20output
.coverage
.coveragerc
/vic20output
/c64output
/vic20output
/c64output
/vic20output
/sourcedir/vic20src/testprog/output
/sourcedir/c64src/sidplayer/output
/sourcedir/c64src/memcart_reu/output
/sourcedir/c64src/drivertest_mouse/output
/sourcedir/c64src/cuberotate/output
